body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menu-border{
    position: relative;
    height:45px;
    width: 45px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 30%;
    margin: 30px;
    background: rgba(0, 0, 0, 0);
}

.burger{
    width: 30px;
    height: 3px;
    margin: 6px 2px;
    background-color: white;
    
}

#title{
    position: relative;
    text-align: center;
    margin-top: 50px;
    color: red;
    font-style: italic;
    font-variant: small-caps;
    font-size: 2.5em;
}
.slideshow img{
    position: relative;
    margin: auto;
    width: 35%;
    height: auto;
    max-width:100%;
    display: block;
    border: 5px solid white;
    border-radius: 8px;   
}
.slideshow img:hover{
    cursor: pointer;
    opacity: 0.4;
}
.points{
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid white;    
    display: inline-block;
}
.points:hover{
    opacity: 0.4;
}

