body{
    background-color: #FFFDE7;

}
header div{
    margin: 3%;
}

#title{
    margin-top: 2%;
    margin-left: 2%;
    width: fit-content;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 2px 2px gray;
    text-decoration: none;
    font-style: italic;
    font-size: 150%;
    letter-spacing: 2px;
    color: gold;
}

#title:hover{
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 250ms ease-out;
}

.nav{
    float: right;
    width: fit-content;
   
}
.nav a{
    margin: 0px 10px;
    text-decoration: none;
    font-style: italic;
    color: black;
}

#search{
    margin-right: -28px;
    opacity: 0.7;
    outline: none;
    font-weight: bold;
}
.searchbtn{
    background-color: #FFFDE7;
    border: none;
}


.slideshow img{
    border-radius: 30%;
    filter: drop-shadow(5px 5px 5px #222);
}


